@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body {
    background-color:#ffb94fa1;
    color:#220f0a;
    box-sizing: border-box;
}
.contenedor_padre{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6% 15%; 
    gap: 20px;
}
.titulo{
    display: flex;
    align-items: center;
}
.contenedor_general{
    display:flex;
    gap: 5%;
}
.contenedor_izquierdo{
    
    flex-direction: column;
    gap: 5%;

}
.cotenedor_derecho{
    flex-direction: column;
    gap: 5%;
}
strong {
    color: #000000;
}

.title {
    color: #bb9904;
}


.img1{
   margin-right: 20px;

}

.presentacion_enlaces_link{

width: 80px;   
text-align: center;
padding: 21.5px;
border-radius: 8px;
font-family: "Playfair", sans-serif;
font-size: 1.5rem;
font-weight: 600;
text-decoration: none;
color: rgb(228, 176, 35);
display:flex;
justify-content: center;
gap: 10px;

}

