@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body {
    background-image:url("https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.colparques.net%2FLAJAS&psig=AOvVaw0RXcSbU2Wsin3Nchh7DKo9&ust=1731507888916000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPiD_tr_1okDFQAAAAAdAAAAABAQ");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    color:#ffffff;
    box-sizing: border-box;
}
.header{
    background-color: aqua;
    padding: 2% 0% 0% 15%;

}
    
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--fuente-monserrat);
    font-size: 1rem;
    font-weight: 600;
    color:var(--color-terciario);
    text-decoration: none;
}
.contenedor_padre{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6% 15%;
    gap: 20;
}

.titulo{
    display: flex;
    align-items: center;
}
.contenedor_general{
    display:flex;
    gap: 5%;
}
.contenedor_izquierdo{
    
    flex-direction: column;
    gap: 5%;

}
.cotenedor_derecho{
    flex-direction: column;
    gap: 5%;
}
strong {
    color: #000000;
}

.title {
    color: #bb9904;
}


.img1{
   margin-right: 20px;

}

.presentacion_enlaces_link{

width: 80px;   
text-align: center;
padding: 21.5px;
border-radius: 8px;
font-family: "Playfair", sans-serif;
font-size: 1.5rem;
font-weight: 600;
text-decoration: none;
color: rgb(228, 176, 35);
display:flex;
justify-content: center;
gap: 10px;

}

